
<div class="nodes-title">
    <p1 id="p1">Отделения Белорусской железной дороги</p1>
</div>

<div class="nodes-container">

    <div class="nodes">
        <div class="nodes__1">
            <div class="node">
                <a href="../Views/Organisation/GetAll.cshtml">
                    <div id="p1">Минское отделение Белорусской железной дороги</div>
                    <div><img src="~/images/minsk.jpg" class="node-image" /></div>
                </a>
            </div>
            <div class="node">
                <a href="../Views/Organisation/GetAll.cshtml">
                    <div id="p1">Гомельское отделение Белорусской железной дороги</div>
                    <div><img src="~/images/gomel.jpg" class="node-image" /></div>

                </a>
            </div>
            <div class="node">
                <a href="../Views/Organisation/GetAll.cshtml">
                    <div id="p1">Витебское отделение Белорусской железной дороги</div>
                    <div><img src="~/images/vitebsk.jpg" class="node-image" /></div>
                </a>
            </div>
        </div>
        <div class="nodes__1">
            <div class="node">
                <a href="../Views/Organisation/GetAll.cshtml">
                    <div id="p1">Брестское отделение Белорусской железной дороги</div>
                    <div><img src="~/images/brest.jpg" class="node-image" /></div>
                </a>
            </div>
            <div class="node">
                <a href="../Views/Organisation/GetAll.cshtml">
                    <div id="p1">Барановичское отделение Белорусской железной дороги</div>
                    <div><img src="~/images/baranovichi.jpg" class="node-image" /></div>
                </a>
            </div>
            <div class="node">
                <a href="../Views/Organisation/GetAll.cshtml">
                    <div id="p1">Могилевское отделение Белорусской железной дороги</div>
                    <div><img src="~/images/mogilev.jpg" class="node-image" /></div>
                </a>
            </div>
        </div>
    </div>


</div>






















