#userEmail {
    color: white;
    text-align: center;
    float: left;
    font-size: 17px;
}

.excel {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.excel-div {
    display: flex;
    max-height: 50px;
    max-width: 50px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-right: 20px;
}
