<div class="bg_img">

    <div class="nodes-container">

        <div class="nodes">
            <div class="nodes__1">
                <div class="node bg_node">
                    <a asp-action="Index"
                       asp-controller="Defect">
                        <div id="p1">Журнал ф. ПУ-2а</div>
                        <div><img src="~/images/defect.jpg" class="node-image" /></div>
                    </a>
                </div>
                <div class="node bg_node">
                    <a asp-action="Index"
                       asp-controller="Defectoscope">
                        <div id="p1">Парк дефектоскопов</div>
                        <div><img src="~/images/defectoscope.jpg" class="node-image" /></div>

                    </a>
                </div>
                <div class="node bg_node">
                    <a asp-action="Index"
                       asp-controller="Operator">
                        <div id="p1">Операторы</div>
                        <div><img src="~/images/employers.jpg" class="node-image" /></div>
                    </a>
                </div>
             </div>
             <div class="nodes__1">
                    <div class="node bg_node">
                        <a href="#">
                            <div id="p1">Журнал ф. ПУ-2б</div>
                        <div><img src="~/images/dangerousDefect.jpg" class="node-image" /></div>
                        </a>
                    </div>
                    <div class="node bg_node">
                        <a href=https://www.rw.by target="_blank">
                            <div id="p1">Сайт Белорусской железной дороги</div>
                            <div><img src="~/images/Internet.png" class="node-image" /></div>
                        </a>
                    </div>
                    <div class="node bg_node">
                        <a asp-action="Resources"
                           asp-controller="Home">
                            <div id="p1">Дополнительные ресурсы</div>
                            <div><img src="~/images/info4.jpg" class="node-image" /></div>\
                            
                        </a>
                    </div>
             </div>
        </div>
    </div>
</div>

