<div id="info">
    <div class="info-element">
        <p class="info-text">АС "Дефектоскопия" - система автоматизированного учета:</p>
        <p class="info-ul">
            <ul class="list">
                <li>дефектных и остродефектных рельсов (ф. ПУ-2а, ПУ-2б)</li>
                <li>ультразвуковых рельсовых дефектоскопов, задействованных в проведении НК рельсов и сварных стыков</li>
                <li>операторов дефектоскопных тележек в части закрепленного за ними оборудования и соблюдения периодичности повышения квалификации</li>
            </ul>
        </p>
    </div>

    <div class="info-element pos-icon">
        <div class="poss-elm1"><img class="info-icon" src="~/images/infoIcon.png"></div>
        <div class="poss-elm2">
            <p class="info-text">Если у Вас еще нет учетной записи в АС "Дефектоскопия":</p>
            <p class="info-ul">
                <ul class="list">
                    <li>пройдите процедуру регистрации нового пользователя</li>
                    <li>ждите верификации Вашей учетной записи администратором</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="info-element pos-icon">
        <div class="poss-elm1">
            <img class="info-icon" src="~/images/contactIcon.png">
        </div>
        <div class="poss-elm2">
            <p class="info-text">Обратная связь:</p>
            <p class="info-ul">
                <ul class="list">
                    <li>e-mail: aries85@bk.ru</li>
                    <li>тел.: +375 (29) 217-05-24</li>
                </ul>
            </p>
        </div>

    </div>
