<div class="bg_img">

    <div class="nodes-container">

        <div class="nodes">
            <div class="nodes__1">
                <div class="node bg_node">
                    <a asp-action="Contacts"
                       asp-controller="User">
                        <div id="p1">Список контактов</div>
                        <div><img src="~/images/contacts.jpg" class="node-image" /></div>
                    </a>
                </div>
                <div class="node bg_node">
                    <a asp-action="Index"
                       asp-controller="Defectoscope">
                        <div id="p1">Полезные файлы</div>
                        <div>
                            <img src="~/images/docs.jpg" class="node-image" />
                        </div>

                    </a>
                </div>
                <div class="node bg_node">
                    <a href=https://people.onliner.by/tag/bzhd target="_blank">
                        <div id="p1">Новости</div>
                        <div><img src="~/images/bgd.jpg" class="node-image" /></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

